h1,h2,h3,h4,h5,h6
{
	background-color: #d7e1f2;
	font-weight: bold
	color: #1f2123;
}

div.dish
{
	background-color: rgb(247, 185, 86);
	padding: 10px;
	margin: 10px;
	border-style: dashed;
	border-weight: 2px;
	border-color: blue;
}

header, footer
{
	background-color: #bc8e43;
}

footer
{
	font-size: 0.5rem;
}

nav
{
	background-color: #474644;
	color: white;
}

nav li 
{
	list-style: none;
}

dish h1,h2,h3,h4,h5
{
	font-style: italic;
}

div.dish 
{
	border-radius: 2%;
}

#location
{
	list-style-image: url("../images/arrowFile.png");
}

a:visited
{
	color: green;
}

nav a:visited
{
	color: orange;
	text-decoration: none;
}

div.dish details
{
	color: red;
}

p.underConstruction
{
	color: orange;
	font-style: italic;
}